body{
	text-align: center;
	color: white;
	background: linear-gradient(to right ,black, rgb(246, 125, 255));
}
div{
	margin-top: 100px;
	margin-left: 40px;
	margin-right: 40px;
	width: 20%;
	height: 600px;
	border: 1px solid black;
	border-radius: 20px;
	box-shadow: 0 0 20px skyblue;
	float: left;
}
img{
	width: 80%;
}